{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
    <!-- Image and text -->
    <div class="ui borderless inverted huge menu" style="border-radius:0">
        <div class="ui container">
            <a class="item" href={% url 'main' %}>
                <img src={% static '../static/restaurant/images/pizza.svg' %}>
                <span style="margin-left: 1rem">Pizza Pizza</span>
            </a>
            
            <div class="right menu">
                <div class="ui simple dropdown item" id="dropdownCart">
                    <i class="large opencart icon"></i>
                    <span class="textCart"></span>
                    <div class="menu" id="menucart">
                        <div class="item">
                            <div class="ui buttons">
                                <a class="ui positive button">Buy</a>
                                <div class="or"></div>
                                <button onclick=clearCart() class="ui negative button">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="ui basic modal">
        <div class="ui icon header">
            <i class="thumbs up icon"></i>
            Siparişiniz başarıyla alındı.
        </div>
        <div class="actions" style="text-align:center">
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Thank you for order.
            </div>
        </div>
    </div>



    <div class="ui container">
        {% block content %}
        {% endblock  %}
    </div>

    <div class="ui inverted vertical footer segment" style="padding: 3rem 3rem 3rem 3rem">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">About</h4>
                    <div class="ui inverted link list">
                        <a class="item" href="#">
                            Sitemap
                        </a>
                        <a class="item" href="#">
                            Sitemap
                        </a>
                        <a class="item" href="#">
                            Sitemap
                        </a>
                        <a class="item" href="#">
                            Sitemap
                        </a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">About</h4>
                    <div class="ui inverted link list">
                        <a class="item" href="#">
                            Sitemap
                        </a>
                        <a class="item" href="#">
                            Sitemap
                        </a>
                        <a class="item" href="#">
                            Sitemap
                        </a>
                        <a class="item" href="#">
                            Sitemap
                        </a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h class="ui inverted header">Footer Header</h4>
                    <p>
                        Extra space for a call to action inside the footer that could help re-engage users.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script>
        let a = document.getElementsByClassName("card")
        
        
        function displayCart(a, b) {
            var output = "" 
            output += '<div class="item removable" style="display:flex; pointer-events: none;">'+
                    '<span class="text removable">'+a+'</span>'
                    +'<br>'+
                        '<span class="description">'+b+'</span>'+
                    
                    '</div>'
            return output
        }
        textCart = document.getElementsByClassName("textCart")
        let total_price = 0
        function displayAlert(id) {
            let item = document.getElementById(id)
            var ters = item.innerText.split("\n");
            var price = ters[ters.length - 1]
            total_price += Number(price)
            textCart[0].innerText = total_price + " ₺"
            $('#menucart').prepend(displayCart(ters[0], price));
        }
        function clearCart() {
            $("div").remove(".removable")
            textCart[0].innerText = ""
            total_price = 0
        }
        $(document).ready(function(){
            $('.ui.dropdown').dropdown();
        });
        $(document).ready(function() {
            $('.ui.positive.button').click(function(){
                if ($('.textCart').text() != "") {
                    $('.ui.basic.modal').modal('show');
                    clearCart()
                }
            })
        })
    </script>
</body>
</html>